@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 68px);
  }

  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[360deg];
  }
}

@layer utilities {
  .drop-shadow-blue {
    filter: drop-shadow(0 0 0.25rem #00d1ff);
  }
}

@font-face {
  font-family: Aclonica;
  src: url('../../public/fonts/Aclonica-Regular.ttf');
}

@font-face {
  font-family: Monserrat;
  src: url('../../public/fonts/Montserrat-Medium.otf');
}

.unselectable {
  user-select: none;
}
